.main {
  flex: 1;
  padding: 20px;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 30px;
}

.avatar {
  border-radius: 50%;
  margin-bottom: 20px;
}
.avatar-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 15px;
  }
  
  .avatar-section button {
    padding: 8px 15px;
    background-color: #1d5fad;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
  }
  

.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.form input,
.form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

.form textarea {
  grid-column: span 3;
  resize: none;
  height: 80px;
}

.buttons {
  grid-column: span 3;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.cancel {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.save {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 10000;
  animation: fadeIn 0.3s ease-in-out;
}

.popup-content {
  background: #fff;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 400px;
  animation: slideUp 0.4s ease;
}

.popup-content h2 {
  margin-top: 0;
  font-size: 22px;
  color: #0cb840;
}

.popup-content p {
  font-size: 16px;
  margin: 15px 0 25px;
  color: #555;
}

.popup-content button {
  background-color: rgb(12, 184, 64);
  color: white;
  padding: 10px 25px;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup-content button:hover {
  background-color: rgba(12, 184, 64, 0.7);
}

@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.6);
  }
}